@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: hsl(228, 33%, 97%);
}
button{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
}
.App{
  max-width: 800px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-wrapper,.reply-wrapper{
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 1rem;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.comment-wrapper .user-content{
  min-width: 700px;
}
.reply-wrapper .user-content{
  min-width: 650px;
}
.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background-color:hsl(228, 33%, 97%);
  border-radius: 8px;
}
.score button{
  background: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 1rem;
}
.score span{
  font-weight: 500;
  color: hsl(238, 40%, 52%);
}
.user-header{
  display: flex;
  justify-content: space-between;
}
.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.user-image{
  width: 40px;
  height: auto;
}
.user-info h1{
  font-size: 1.1rem;
  color: hsl(212, 24%, 26%);
}
.user-info p{
  color: hsl(211, 10%, 45%);
  opacity: 0.6;
}
.reply,.edit,.delete{
  border: none;
  background: none;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  color:hsl(238, 40%, 52%);
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}
.delete{
  color: hsl(358, 79%, 66%);
}
.user-content{
  color: hsl(211, 10%, 45%);
  line-height: 1.5;
  margin-top: 15px;
  font-weight: 400;
}
.you{
  color: hsl(0, 0%, 100%);
  background-color:hsl(238, 40%, 52%);
  padding: 2px 7px;
}
.reply-wrapper{
  width: 95%;
  margin-right: 0;
}
.delete-edit{
  display: flex;
  gap: 15px;
}
.replyingto{
  color:hsl(238, 40%, 52%);
  cursor: pointer;
}
.new-comment-wrapper{
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 1rem;
  width: 100%;
  margin-top: 30px;
}
form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
form textarea{
  border: 1px solid hsl(213, 17%, 90%);
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 20px;
}
.comment-wrapper form{
  min-width: 700px;
  margin-top: 20px;
}
.reply-wrapper form{
  min-width: 660px;
  margin-top: 20px;
}
form button{
  background: none;
  background-color:hsl(238, 40%, 52%);
  color:hsl(0, 0%, 100%);
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}
.new-reply-wrapper{
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 1rem;
  width: 100%;
}
.new-reply-wrapper2{
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 1rem;
  width: 95%;
  margin-right: 0;
  margin-left: 5%;
}
.del-modal{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: hsla(211, 10%, 45%, 0.5);
  z-index: 999;
}
.modal-wrapper{
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  padding: 20px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
}
.modal-wrapper h1{
  font-weight: 500;
  color:hsl(212, 24%, 26%);
  font-size: 1.8rem;
}
.modal-wrapper p{
  line-height: 1.5;
  color:hsl(211, 10%, 45%);
  margin: 10px auto;
}
.modal-wrapper .modal-buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.modal-wrapper button{
  color: hsl(0, 0%, 100%);
  padding: 15px;
  text-transform: uppercase;
}
.del-btn{
  background-color: hsl(358, 79%, 66%);
}
.cancel-btn{
  background-color:hsl(211, 10%, 45%);
}
@media (max-width:768px){
  .App{
    width: 90%;
  }
  .comment-wrapper .user-content{
    min-width: 450px;
  }
  .reply-wrapper .user-content{
    min-width: 400px;
  }
  .reply-wrapper{
    min-width: 400px;
  }
  .comment-wrapper form{
    min-width: 450px;
  }
  .reply-wrapper form{
    min-width: 400px;
  }
  .new-comment-wrapper{
    width: 100%;
  }
}

@media (max-width:500px) {
  .App{
    max-width: 400px;
  }
  .comment-wrapper,.reply-wrapper{
    flex-direction: column-reverse;
    position: relative;
  }
  .comment-wrapper{
    min-width: 400px;
  }
  .reply-wrapper{
    width: 350px;
  }
  .comment-wrapper form{
    min-width: unset;
    flex-direction: column;
  }
  .reply-wrapper form{
    min-width: unset;
    flex-direction: column;
  }
  .modal-wrapper{
    margin-top: 50%;
  }
  .score{
    width: fit-content;
    flex-direction: row;
    align-items: center;
  }
  .delete-edit,.reply{
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
  .new-comment-wrapper,.new-reply-wrapper,.new-reply-wrapper2{
    position: relative;
  }
  .new-comment-wrapper form{
    flex-direction: column;
  }
  .new-comment-wrapper button{
    align-self: flex-end;
  }
  .new-comment-wrapper img{
    position: absolute;
    bottom: 8%;
  }
  .new-reply-wrapper form{
    flex-direction: column;
  }
  .new-reply-wrapper form button{
    align-self: flex-end;
  }
  .new-reply-wrapper form img{
    position: absolute;
    bottom: 7%;
  }
  .new-reply-wrapper2{
    max-width: 350px;
    margin-left: 50px;
  }
  .new-reply-wrapper2 form{
    flex-direction: column;
  }
  .new-reply-wrapper2 form button{
    align-self: flex-end;
  }
  .new-reply-wrapper2 form img{
    position: absolute;
    bottom: 7%;
  }
}